body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.planet_earth{
    width: 400px;
    height: 400px;
}
.planet_earth:active{
    width: 405px;
    height: 405px;


}

.mute-button {
    position: absolute;
    top: 20px;
    right: 20px;
}
.settings{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 10px;

}
.mute{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 70px;

}
.mail{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    left:130px;


}
.planet_earth{
    cursor: pointer;
}
.counter {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 36px;
    font-weight: bold;

}
.floating-number {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    animation: float 1s ease-out;
    pointer-events: none;
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
